!!! XML
%testsuite{:name => name, :tests => test_count, :errors => test_errors, :failures => test_failures, :skip => test_skips}
  - @test_cases.each do |testname, test_case|
    %testcase{:classname => testname, :name => testname, :time => test_case.runtime}
      %error{:type => "error output"}
        :cdata
          = test_case.stderr
      %output
        :cdata
          = test_case.stdout
