!!! XML
%testsuite{:name => suitename, :tests => tests, :errors => errors, :failures => numfailures, :skip => numskip}
  - tests.each do |test|
    %testcase{:classname => test.classname, :name => test.name, :time => test.elapsedtime}
      - if test.error
        %error{:type => "error output"}
	  = test.error
      - if test.output
        %output
	  = test.output
