!.gitignore

# Gem structure
junit
acceptance-tests
pkg
Gemfile.lock

# Beaker-generated & local testing
test.cfg
options.rb
merged_options.rb
tmp/
log/
sut-files.tgz

# YARD
.yardoc
yard_docs
doc

# Dependencies
# NOTE: For consistency, please use `vendor/bundle` for Bundler-installed dependencies
.bundle
.vendor
_vendor
vendor

# Byebug
.byebugrc
.byebug_history

# SimpleCov
coverage


#
# Editor/IDE Clutter
#
# (TODO: consider removing these; use local personal .gitignore instead)

# Vim
*.swp
# JetBrains IDEA
*.iml
.idea/
# rbenv file
.ruby-version
.ruby-gemset
# Vagrant folder
.vagrant/
.vagrant_files/
